/* nav*/
#bsover .main-nav
{
    color:black;
    background-color: white;
}
#bsover .vertical-nav
{
    list-style: none;
    margin: 0;
    padding: 0;
}
#bsover .vertical-nav li
{
    text-align: center;
    padding: 10px 0;
}
#bsover .nav-button
{
    background-color: transparent;
    border: none;
    outline: none;
}
#bsover .nav-button span
{
    padding: 3px 0;
    display: block;
}
#burger-menu
{
    height:64px ;
    padding: 15px 30px 10px 30px;
}
.mdi-navigation-menu
{
    font-size: 2rem !important;
}